vendor/

.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/virtual-cli.iml
.idea/workspace.xml
virtual-cli-server.log
virtual-cli-server.pid
src/Steveorevo/VirtualCLI/Builds - VirtualCLIHelper.xojo_xml_project
src/Steveorevo/VirtualCLI/vcli.debug/vcli.debug Libs
*.DS_Store
